{% extends 'base2.html.twig' %}

{% block title %}Edit Charitycategory{% endblock %}

{% block body %}
    <h1>Edit Charitycategory</h1>

    {{ include('charitycategory/_form.html.twig', {'button_label': 'Update'}) }}

    <a  class="btn btn-primary text-white py-3 px-4" href="{{ path('app_charitycategory_index') }}">back to list</a>

    {{ include('charitycategory/_delete_form.html.twig') }}
{% endblock %}
