{% extends 'base2.html.twig' %}

{% block title %}New Products{% endblock %}

{% block body %}
    <h1><center>Rent a Product</center></h1>

    {{ include('products/_form.html.twig') }}

    <a class ="btn btn-secondary text-white" href="{{ path('app_products_index') }}">Back</a>
{% endblock %}
