{% extends 'base.html.twig' %}

{% block title %}All Products 
{% endblock %}

{% block body %}

	<div class="container">
		<div class="row mb-5 align-items-center">
			<div>
				<h2><center>All Products</center>
					
					
				</h2>
			</div>

		</div>

		{% for products in products %}
			<div class="section">
				<div class="row">
					<div class="col-12">
						<div class="property-slider-wrap">
							<div class="property-slider">
								<div class="property-item">
									<a href="property-single.html" class="img">
									<br>
										<img src="rent.jpg" alt="Image" class="img-fluid"/>
									</a>
									<div class="property-content">
										<div class="price mb-2">
											<span>
											</span>
										</div>
										<div>
											<span class="d-block mb-2 text-black-50">{{products.productname}}</span>
											<span class="d-block mb-2 text-black-50">{{products.RentPrice}}</span>
											<span class="city d-block mb-3">{{products.ProductAdress}}
											</span>

											<br>
											<a href="/products/{{products.id}}" class="btn btn-primary py-2 px-3">Rent Now
											</a>
										</div>
									</div>

								</div>
							</div>

						</div>
					</div>
				</div>
			</div>
		{% else %}
			<div>
				<div style="border: 1px solid black; padding: 10px;" ><center>No Records Founds.</center></div>
			</div>
		{% endfor %}
		<div class="section">
			<div id="property-nav" class="controls" tabindex="0" aria-label="Carousel Navigation">
				<span class="prev" data-controls="prev" aria-controls="property" tabindex="-1">Prev</span>
				<span class="next" data-controls="next" aria-controls="property" tabindex="-1">Next</span>
			</div>
		</div>
		

	{% endblock %}
