{% extends 'base.html.twig' %}

{% block title %}Nouveau produit{% endblock %}

{% block body %}
    <h1><center>Louer un produit</center></h1>

    {{ include('produit/_form.html.twig') }}

    <a href="{{ path('app_produit_index') }}"><h5>Afficher tous</a>
{% endblock %}
