{% extends 'base2.html.twig' %}

{% block title %}New Paquet{% endblock %}

{% block body %}
    <h1>Create new Paquet</h1>

    {{ include('paquet/_form.html.twig') }}

    <a class="btn btn-primary text-white py-3 px-4" href="{{ path('app_paquet_index') }}">back to list</a>
{% endblock %}
